* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



html {

  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  scroll-behavior: smooth;
  /* color: #99e2ff; */
}


img {
  border-radius: 14px;
}


body {
  background-image: url('./images/background.png');
  background-size: 100%;
  background-position: contain;
  z-index: -100;
  /* background-attachment: fixed; */
}

html {
  background: linear-gradient(-45deg, #ee7752, #a6c1ee, #23d5ab);

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

ul {
  list-style: none;
}


strong {
  font-weight: bold;
}

.headerimg {
  width: 500px !important;
  background-color: none !important;
}

.eNKGzs {
  background-color: none !important;
}

:root {
  --primary: #081feb;
  --primary-text: #1a1a1a;
  --secondary: #99e2ff;
  --secondary-text: #ffffff;
  --accent: #99e2ff;
  --accent-text: #ffffff;

}

.hidden {
  display: none !important;
  background-color: #9b9b9d27;
}

h2 {
  font-size: 5rem;
  font-weight: bolder;
  /* text-transform: uppercase; */
  margin-bottom: 4rem;
  font-family: "header";

}
.aligncenter {
  justify-content: center;
  align-self: center;
}
.logo {
  font-size: 4rem;
  color: #7b75d3;
  font-weight: 900;
  font-family: "header";
}

.mint-info {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "header";
}

.discord-invite {
  background-color: transparent;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem;

}
.bhGNIH {
  min-height: 52vh !important;

}
.discord-invite a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 3px solid #6c00ff;
}

/* Navigation */
.nav {
  text-align: center;
  width: 100%;
  top: 0%;
  padding-top: 1.5rem;
}

.nav.container {
  background-color: transparent;
  max-width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.685);
  border-radius: 20px;
  max-width: 1000px;
  box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  border-radius: 24px;
  border: 8px solid rgb(255, 255, 255);
  box-shadow: -3px 3px 0 0 #eeeeee;

}



.nav-list a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.navflexlogo {
  display: flex;
  flex-direction: row;
  color: #081feb;
  justify-content: space-evenly;
  margin: 0 10px;
}


.twitterColor {
  background-color: #e874f5 !important;
}

.osColor {
  background-color: #672fcf !important;
}

.navflexlogo a {
  color: black;
  border-radius: 20px;
  background-color: #51FFAF;
  font-family: "header";
  padding: 16px 40px;
  border-style: solid;
  border-width: 4px;
  border-color: #ffffff;
  border-radius: 8px;
  box-shadow: -3px 3px 0 0 #ffffff;
  

}


.navflexlogo li {
  margin: 0 10px;

}

.logobg {
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 0.4rem;
}

.nav-list a:hover {
  color: var(--secondary);
}

.nav-list li {
  align-items: center;
  justify-content: center;
}

.nav img {
  /* border: 1px solid black; */
  width: 250px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.opensea {
  background-color: var(--secondary);
  padding: 10px;
}




/* sections */
.container {
  max-width: 1200px;
  box-sizing: content-box;
  margin: 0 auto;
}

.section-about {
  color: #ffffff;

}

/* features */

.features {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.7); */

}



.about {
  margin-top: 10rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

}

.vert {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.half-half {
  padding: 0.5rem;
  max-width: 45%;
}

.half-half h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: black;
}

.half-half h2 {
  font-size: 5rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "header";
  color: black;
}

.half-half p {
  margin-bottom: 1rem;
  line-height: 25px;
  font-size: 1.3rem;
  color: black;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.half-half a {
  margin-top: 3rem;

  background-color: var(--secondary);
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: "header";
  letter-spacing: 0.3rem;
  box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.7);
  font-weight: bold;

  color: black;
  border-radius: 20px;
  background-color: #51FFAF;
  font-family: "header";

  padding: 16px 40px;
  border-style: solid;
  border-width: 4px;
  border-color: #ffffff;
  border-radius: 8px;
  box-shadow: -3px 3px 0 0 #ffffff;

}

.connectBTN {
  padding: 16px 40px !important;
  border-style: solid !important;
  border-width: 4px !important;
  border-color: #1f2024 !important;
  border-radius: 8px !important;
  box-shadow: -3px 3px 0 0 #1f2024 !important;
  border: 8px solid rgb(255, 255, 255) !important;
  box-shadow: -3px 3px 0 0 #eeeeee !important;
}

.half-half img {
  box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.7);
  max-width: 420px;

}

.whitelist {
  background: linear-gradient(100deg, #200c32, #ef972c, #aa5e01);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.whitelist h2 {
  margin-bottom: 2rem;
}

.whitelist .half-half {
  margin: 3rem auto !important;
  width: 100%;
  text-align: center;
}

/* reponsiveness */
@media (max-width:1060px) {
  .features, .about {
    flex-direction: column;
    text-align: center;

  }

  .half-half {
    max-width: 100%;
  }

}



/* TIMELINE */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
}

.section-roadmap h1 {
  color: rgb(0, 0, 0);
  font-family: "header";
  text-align: center;
  font-size: 3.4rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  background-color: rgb(255, 255, 255);
}

.roadmap-content li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  line-height: 25px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-timeline {
  padding: 10px 40px;
  position: relative;
  width: 50%;


}

.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: rgb(255, 255, 255);
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  top: 15px;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

/* .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
} */

.right::after {
  left: -13px;
}

.content {
  padding: 30px 30px;
  background-color: white;
  color: rgb(0, 0, 0);
  position: relative;
  border-style: solid;
  border-width: 4px;
  border-color: #eeeeee;
  border-radius: 8px;
  box-shadow: -3px 3px 0 0 #ececec;
  font-family: 'Lato', sans-serif;

}

.content h2 {
  background-color: transparent;
  font-family: "header";
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }

  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container-timeline::before {
    left: 60px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

}

.content h3 {

  margin-bottom: 0.5rem !important;
  text-transform: uppercase;
  color: var(--secondary);
  font-family: "header";
  font-size: 2rem;
  font-weight: bold;
}

/* END OF TIMELINE */
.st-theme-default .nav {
  justify-content: space-evenly;
}

.st-theme-default .nav-link {
  color: white !important;
  /* font-family: "header"; */
  text-transform: uppercase;

}



.mintContainer {
  /* background-color: #7ec4f37c; */
  border-radius: 24px;
  /* border: 8px solid black; */
  /* box-shadow: -3px 3px 0 0 #1f2024; */
}



/* Team */


.section-team {
  margin-top: 5rem;
  /* background: linear-gradient(110deg, #453cbd 60%, #99e2ff 60%); */

}

.meeth3 {
  font-size: 1.2rem;
}

.section-team h2 {
  font-size: 5rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "header";
}

.section-team .container {
  padding: 3rem 0;
}

.team_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team_container img {
  max-width: 350px;
  border: 5px solid rgb(255, 255, 255);
  transition: 0.5s linear;
  border-radius: 14px;

}

.team_container img:hover {
  transform: rotate(180deg);
  transition: 0.5s linear;
}

.team_container h3 {
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-size: 3rem;
  font-family: "header";

}

.subtitle, .header {
  color: rgb(0, 0, 0);
}

.header {
  font-size: 5rem;
  font-family: "header";
  font-weight: bolder;
}

.subtitle {
  margin-top: 4rem;
  padding-bottom: 1rem;
}


/* faq */


.section-faq {

  margin-top: 5rem;
  /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
  padding-bottom: 1rem;
}



.acb2 {
  color: rgb(65, 65, 65) !important;

  background-color: #b0e5ff !important;
  padding: 2rem !important;
  font-family: "header";
  font-size: 2rem;
  border-radius: 12px;
  padding: 16px 40px;
  border-style: solid;
  border-width: 4px;
  border-color: #ffffff;
  border-radius: 8px;
  box-shadow: -3px 3px 0 0 #eeeeee;
}

.acb3 {
  color: rgb(65, 65, 65) !important;
  background-color: #b0e5ff !important;
  padding: 2rem !important;
  font-family: "header";
  font-size: 2rem;
  border-radius: 12px;
  padding: 16px 40px;
  border-style: solid;
  border-width: 4px;
  border-color: #f1f1f1;
  border-radius: 8px;
  background-color: #672fcf;
  box-shadow: -3px 3px 0 0 #d4d4d4;
}

.acb1 {
  color: rgb(65, 65, 65) !important;

  background-color: #b0e5ff;
  padding: 2rem !important;
  font-family: "header";
  font-size: 2rem;
  border-radius: 12px;
  padding: 16px 40px;
  border-style: solid;
  border-width: 4px;
  border-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: -3px 3px 0 0 #e4e4e4;
}

.acb1:hover {
  cursor: pointer;
}

.acb2:hover {
  cursor: pointer;
}

.acb3:hover {
  cursor: pointer;
}

.accordion {
  margin-top: 2rem !important;
  border: none !important;
}

.accordion__item {
  margin: 1.5rem 0;
}

.accordion__panel p {
  font-size: 2.4rem;
  color: black;
  font-family: 'Lato', sans-serif;


}
.accordion__item {
  border: none !important;
}

.section-faq .container {
  padding-top: 2rem;
}

.blacktxt {
  color: black;
}

.accordion__button:hover {
  background-color: #ffffff !important;
  transition: 0.3s linear;
  color: black !important;
}


/* Footer */
.section-footer {
  padding: 4rem;
}

.section-footer h2 {
  color: white;
  font-size: 2rem;
  font-family: "header";
  text-align: center;
  font-weight: bold;

}

.social-icons img {
  width: 90px;
  height: 90px;

  padding: 0.5rem;
}

.display--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 320px;
  margin: 1.5rem auto;
}

.section-footer p {
  color: white;
  text-align: center;
  margin: 2rem 0rem -1rem;
}


button:hover {
  background-color: red !important;
  transition: 0.5s linear;
}


.mister {
  max-width: 1200px;
  margin: 4rem auto 2rem auto;
}



@media (max-width: 756px) {
  .nav-list {
    flex-direction: column;
    width: 300px;
  }
  .navflexlogo a {
    padding: 5px;
  }
  .headerimg {
    max-width: 400px;
  }
  .acc-heading {
    max-width: 310px;
    margin: 0 auto;
    padding: 10px !important;
  }
  .half-half a {
    max-width: 300px;
    margin: 0 auto;
  }
  .half-half img{
    max-width: 300px;
  }
  .team_container{
    margin: 0 auto;
    justify-content: center;
  }
  .team_container div {
    margin: 30px 0;
  }
  html {
    background: #a6c1ee;
  
  }

  nav {
    padding: 0 !important;
  }
  .header,.subtitle,h1,.meeth3 {
    text-align: center;
  }
  h2,.header {
    font-size: 2.5rem !important;
    text-align: center;
    color: black;
  }
  .team_container img{
    max-width: 300px;
  }
  .content h3 {
    font-size: 1.4rem;
  }
  .half-half p{
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 360px) { 

  .headerimg {
    max-width: 300px;
  }


}




@media only screen and (min-width: 2800px) { 

  .bhGNIH {

    max-height: 30vh !important;
  
  }
 


}
